body {
  margin:0;
  padding:0;
}

.isledigbody {
  background-color: rgb(20, 20, 51);
}

.indexbody {
  background-image: url("./assets/waves.svg");
  background-size: cover;
}

.fail {
  background-color: red;
}

.lato { 
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  font-size: 12.5vh;
  padding:none;
  margin:1vh;
  color:white;
}

.left-align {
  text-align: eft;
}

.center-align {
  text-align:center;
}

.isleGameContainer { 
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  width:35vw;
  height:35vw;
  padding:5vh 32.5vw;
  perspective: 1000px;
}

.isleGameContainer div {
  padding:0px 0px;
  border-radius:7px;
  margin:0px;
  text-align: center; 
  vertical-align: middle;
}

.frontface, .backface {
	width: 100%;
	height: 100%;
  border: 3px solid rgb(255, 196, 0);
  backface-visibility: hidden;
  position: absolute; 
  box-sizing: border-box;
  top: 0; 
  left: 0; 
}

.option {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.frontface {
	z-index: 2;
	/* for firefox 31 */
  background-image: url("./assets/sand.jpg");

}

.backface {
	transform: rotateY(180deg);
}

.dblbg {
  overflow: hidden;
}

.dblbg::before {
  content: "";
  position: absolute;
  top: -50%; 
  left: -50%; 
  width: 200%;
  height: 200%; 
  background-image: url("./assets/doubloon.png");
  background-size: 10%; 
  background-repeat: repeat;
  transform: rotate(45deg); 
  transform-origin: center;
  z-index: -1; 
}

.buttonContainer {
  display: flex;
  width:100%;
  align-items: center;
  justify-content: center;
}

.buttonContainer button {
  padding:1vw;
}

p {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  margin:1vh;
  color:white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vh 4vh;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

.flip-horizontal-bottom {
	-webkit-animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
          animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@-webkit-keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}
