canvas {
  background: #2e5d71;
  display: block;
  margin: 0 auto;
  height: 90vh;
}

body {
  margin: 0;
  padding: 0;
  background-color: #295264;
  overflow:hidden;
  height:100vh;
  width: 100vw;
  margin-top:0vh;
}

.lato {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
}

.dm-serif {
  font-family: "DM Serif Text", serif;
  font-weight: 400;
  font-style: normal;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: -100vh;
}

button {
  font-family:"Lato", serif;
  font-size: 17px;
  padding: 1em 2.7em;
  font-weight: 500;
  background: #1f2937;
  color: white;
  border: #131922;
  position: relative;
  overflow: hidden;
  border-radius: 2em;
  cursor: pointer;
  transition:all 0.5s ease;
}

button:hover {
  background: #003d93
}

button:disabled {
  background:none;
  color:#00000000;
  border:none;
}

p {
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  margin: 1vh;
  color: white;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #040200;
}

ul li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 2vh 4vh;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}